.navbar-brand,#menu-id{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left:15px;
}
#menu-id{
    margin-top: 20px;
}
#button-id{
    background-color: rgb(186, 108, 250);
    border: 1px solid black;
}
.nav-item{
    background-color: rgba(211, 211, 211, 0.966);
    border: 1px solid black;
}
#nav-id{
    padding: 0px;
    margin: 0;
    background-color:gray
}
section{
    background-color: pink;
    height: 1000px;
    margin: 10px 10px 5px 10px;
    padding: 7px;
}
